---
layout: wide
---

<div class="container page-content">
  <div class="home">

    {% include scrapbook.html %}

    <ul class="post-list row">
      {% for post in site.posts %}
        <li class="col-md-4 col-sm-6">
          <div class="card post-card">
            {% if post.cover %}
              <img src="{{ "/img/cover/" | prepend: site.baseurl }}{{ post.cover }}" alt="Post cover photo">
            {% else %}
              <img src="{{ "/img/cover/default-" | prepend: site.baseurl }}{{ post.url | size | times: 7 | modulo: 10 }}.jpg" alt="Post cover photo">
            {% endif %}
            <div class="content">
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>
